# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
docker-compose.override.yml

# IDEs and editors
.vscode/
.idea/

# Environment variables
.env

# Logs
*.log

# Test artifacts
.coverage
htmlcov/
.pytest_cache/
